:root {
    --c-background: tomato;
    --c-white: #fafafa;
    --f-main: 'Inter', sans-serif;
    --border-radius: 15px;
    --gap: 20px;
}
body {
    font-size: 16px;
    line-height: normal;
    font-family: var(--f-main);
    background: var(--c-background);
}
