.drag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 calc(var(--gap) * 2);
    &__item {
        width: 100px;
        height: 100px;
        border-radius: var(--border-radius);
        transition: background-color .2s, opacity .2s;
        background-color: transparent;
        cursor: grab;
        &:active {
            cursor: grabbing;
        }
        &.dragging {
            position: absolute;
            z-index: 999999;
            left: 0;
            top: 0;
        }
    }
}
